<div class="currancy-exchanger-card">
    <form>
        <div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
            <mat-form-field class="w-100 col-span-2  max-h-20">
                <mat-label>Amount</mat-label>
                <input type="number" matInput>
                <mat-error>
                    Amount is Required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-span-1 w-100">
                <mat-label>From</mat-label>
                <mat-select>
                    <mat-option value="valid">option</mat-option>
                    <mat-option value="invalid">option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-span-1 w-100">
                <mat-label>To</mat-label>
                <mat-select>
                    <mat-option value="valid">option</mat-option>
                    <mat-option value="invalid">option</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="border rounded-lg py-3 px-5 border-black col-span-2 w-100 mb-0">
                1.00 EUR = 1 USD
            </p>
            <button mat-raised-button class="col-span-2 py-2 bg-black text-white h-auto">Convert</button>
            <div class="w-100 col-span-2 flex space-x-2 items-center border rounded-lg py-3 px-5 border-black ">
                <mat-label class="whitespace-nowrap">Result : </mat-label>
                <span class="w-100 mb-0 w-full">
                    120
                </span>
            </div>
            <button mat-raised-button class="col-span-2 py-2 bg-black text-white h-auto max-h-11">View Details</button>
        </div>
    </form>
</div>