<div class="currancy-exchanger-card">
    <form [formGroup]="converterForm">
        <div
            class="flex items-start justify-between md:space-x-4 max-md:flex-wrap max-md:justify-center max-md:space-y-1">
            <!-- Amount  -->
            <mat-form-field class="w-full col-span-1  max-h-20">
                <mat-label>Amount</mat-label>
                <input formControlName="value" type="number" (keyup)="checkAmountChanges()" matInput>
                <mat-error *ngIf="getController('value')?.invalid">
                    Amount is Required with minimum value 1
                </mat-error>
            </mat-form-field>

            <!-- From Input  -->
            <mat-form-field class="w-full col-span-1">
                <mat-label>From</mat-label>
                <mat-select formControlName="from" (selectionChange)="showResult = false">
                    <mat-option *ngFor="let currency of currencies"
                        [value]="currency?.currency">{{currency?.currencyName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- swap button  -->
            <button class="w-24 mt-4" (click)="swapCurrency()">
                <img src="assets/images/swap-left-right.png" alt="">
            </button>
            <!-- To Input  -->
            <mat-form-field class="w-full col-span-1">
                <mat-label>To</mat-label>
                <mat-select formControlName="to" (selectionChange)="showResult=false">
                    <mat-option *ngFor="let currency of currencies"
                        [value]="currency?.currency">{{currency?.currencyName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Convert Button  -->
        <button mat-raised-button class="w-full py-3 bg-black text-white h-auto" (click)="convertCurrency()"
            [disabled]="converterForm.invalid">Convert</button>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
            <p *ngIf="showResult" class="border rounded-lg py-3 px-5 border-black  mb-0">
                1.00 {{getController('from').value}} = {{convertedCurrencyValue}}
                {{getController('to').value}}
            </p>

            <!-- Result  -->
            <div *ngIf="showResult" [ngClass]="{'col-span-2': isDetails}"
                class="flex space-x-2 items-center border rounded-lg py-3 px-5 border-black ">
                <mat-label class="whitespace-nowrap">Result : </mat-label>
                <span class="w-100 mb-0 w-full">
                    {{result | number:'1.0-4'}} {{getController('to').value}}
                </span>
            </div>
            <!-- View Details Button  -->
            <a routerLink="./currency-details" [queryParams]="converterForm.getRawValue()"
                *ngIf="showResult && !isDetails" mat-raised-button [disabled]="converterForm.invalid"
                class="py-2 bg-black text-white h-auto max-h-11">View
                Details</a>
        </div>
    </form>
</div>