/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main,
header,
div,
h1,
h2,
h3,
h4,
p,
span,
a {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/sass/custom-classes";

.highcharts-credits {
  display: none;
}
